# Port backend
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_management
DB_USER=
DB_PASSWORD=

# Security
JWT_SECRET=
PEPPER=

# Gemini ai
GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent
GEMINI_API_KEY=